#clues {
	border-style: solid;
	border-radius: 2em;
	border-width: 0.2em;
	border-color: black;
	
	width: 94%;
	height: 50%;
	margin: auto;
	overflow: visible;
}

.draggable-clue {
	touch-action: none;

	display: inline-block;
	width: 14vw;
	height: 8vh;
	min-height: 2.5em;
	margin: 1vh;

	-webkit-transform: translate(0px, 0px);
	transform: translate(0px, 0px);

    	text-align:center;    
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 10px 10px 10px;
	background: -moz-linear-gradient(
		top,
		#7369ff 0%,
		#3375f0 50%,
		#3224f2 92%,
		#304fff);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#7369ff),
		color-stop(0.50, #3375f0),
		color-stop(0.92, #3224f2),
		to(#304fff));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid rgb(20, 6, 150);
	-moz-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
	-webkit-box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
	box-shadow:
		0px 1px 1px rgba(000,000,000,0.5),
		inset 1px 2px 0px rgba(255,255,255,0.4);
	text-shadow:
		1px 1px 2px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.4);
}

.dropped {
	display: flex;
    	align-items: center;
    	justify-content: center;
	margin: 1vh auto;
}

.revelation {
	border-style: solid;
	border-width: 0.2em;
	border-color: black;
       	border-radius: 1.5em;
	padding: 1%;
	margin: 1%;
}

.revelation * {
	text-align: center;
}

.outer-dropzone {
	height: 13.2vh;
	width: 20vw;
	/*float: left;*/
	margin: 3% 3%;
	
}

/*.inner-dropzone {
	height: 90%;
	width: 90%;
	margin: auto;
	display: inherit;
}*/

#revelations {
	border-style: solid;
	border-radius: 2em;
	border-width: 0.2em;
	border-color: black;

	width: 94%;
	height: 40%;
	overflow: auto;
	margin: auto;
}

.dropzone {
	display: inline-block;
	background-color: #ccc;
	border: dashed 4px transparent;
	border-radius: 4px;
	/*padding: 3%;*/
	transition: background-color 0.3s;
	padding:1vh 0.5vh; /*dubbie*/
}

.drop-active {
	border-color: #aaa;
}

.drop-target {
	background-color: #29e;
	border-color: #fff;
	border-style: solid;
}

.drop-content {
	background-color: #29e;
	border-color: #003366;
	border-style: solid;
	overflow: hidden;
	
}

.can-drop {
	color: #000;
	background-color: #4e4;
	/*margin:auto;*/ /*dubbie*/
}
