button.a-enter-vr-button ,.prova{
    visibility:hidden;
}

#widget, .overlay{
    position:relative;
    z-index : 999;
    color:red;
    
}

.overlay{
    margin-left: 50%;
    margin-right: 50%;
}
.top{
    z-index : 998;
    position:absolute;
}

.bottom{
    z-index : 2;
    position:absolute;
}

#backpack{
    background-color: white;
    height: 100%;
    width: 200em; 
}