button.a-enter-vr-button ,.prova{
	visibility:hidden;
}

html, body {
	/*max-width: 100vw;*/
	overflow-x: hidden;
	font-family: "Segoe UI",Arial,sans-serif;
}

a-scene {
	/*position: fixed;*/
	top: 0;
	left: 0; 
}

.grayBg{
	background-color: darkslategray !important;
	color:white;
	opacity: 0.82;
}

.modalContents{
	color: white !important;
	opacity: 1 !important;
}


.modal-title{
	color:white;
}

#btn-clues {
	position: absolute;
	padding: 2%;
	bottom: 2vh;
	right: 5vw;
}
#btn-characters {
	position: absolute;
	padding: 2%;
	bottom: 2vh;
	right: 21vw;
}

#btn-models {
	position: absolute;
	visibility: hidden;
	padding: 2%;
	bottom: 2vh;
	left: 5vw;
}

.pngBtn {
	width:15vw;
	height: 15vw;
}

.charImg {
	width:20vw;
	height: 20vh;
}
#app, #models {
	border-style: solid;
	border-radius: 2em;
	border-width: 0.4em;
	border-color: black;
	visibility: hidden;
	position: fixed;
	top: 3vh;
	margin: 5% auto;
	left: 0;
	right: 0;
	margin: auto;
	width: 88vw;
	height: 75vh;
	padding: 2%;
	background-color: white;
	z-index: 100;
}

#modelsframe {
	width: 100%;	
	height: 100%;
	border-width: 0px;
}

#widget, .overlay{
    position:relative;
    z-index : 999;
    color:red;
    
}

.overlay{
    margin-left: 50%;
    margin-right: 50%;
}
.top{
    z-index : 998;
    position:absolute;
}

.bottom{
    z-index : 2;
    position:absolute;
}

#backpack{
    background-color: white;
    height: 100%;
    left: 0;
}
